{% extends "base.html" %}
{% load static %}

{% block page_header%}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock%}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Shopping Bag</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="table-responsive rounded">
                {% for item in bag_items %}
                <tr>
                    <td class="p-2 w-10">
                        <img class="img-fluid rounded" src="{{ item.lesson.type.image.url }}">
                    </td>
                    <td class="py-3">
                        <p class="my-0"><strong>{{ item.lesson.type }}</strong></p>
                        <p class="my-0 small text-muted">lesson time/date: {{ item.formatted_lessontime }}</p>
                        <p class="my-0 small text-muted">lesson id number: {{ item.formatted_lesson_id }}</p>
                    </td>

                    <td class="py-3 w-25">
                        {% if item.lesson.remaining_capacity > 1 %}
                        <form class="form" method="POST" action="{% url 'update_bag' item.lesson_id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control form-control-sm qty_input" type="number" name="quantity"
                                        value="{{ item.lesson_quantity }}" min="1"
                                        max="{{ item.lesson.remaining_capacity }}" data-item_id="{{ item.lesson_id }}"
                                        id="id_qty_{{ item.lesson_id }}">
                                </div>
                            </div>
                            <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="update">
                        </form>

                        {% endif %}
                        {% if user.is_authenticated %}
                        <form class="form" method="POST">
                            {% csrf_token %}
                            {% for booked_student in item.booked_students %}
                            <select class="student-update form-control rounded-0 w-200"
                                name="selected_students "
                                id='select_students'>
                                <option value="{{booked_student.id}}" class="student-selection"
                                    data-lesson_id="{{ item.lesson_id }}"> {{ booked_student.first_name}}
                                    {{booked_student.second_name}}
                                </option>
                                {% for student in item.associated_students %}
                                <option value="{{ student.id }}" class="student-selection" data-previous = "{{booked_student.id}}"
                                    data-lesson_id="{{ item.lesson_id }}"> {{ student.first_name }}
                                    {{student.second_name}}
                                </option>
                                {% endfor %}
                                <option value="{{booked_student.id}}" class="student-selection"
                                    data-lesson_id="{{ item.lesson_id }}"  data-remove="True"> de-select
                                </option>
                            </select>
                            {% endfor %}

                            {% for i in item.lesson_quantity_range %}
                            <select class="student-update form-control rounded-0 w-200"
                                name="selected_students "
                                id='select_students'>
                                <option value="" class="student-selection"> Select Student from dropdown:
                                </option>
                                {% for student in item.associated_students %}
                                {% if student not in item.booked_students %}
                                <option value="{{ student.id }}" class="student-selection"
                                    data-lesson_id="{{ item.lesson_id }}"> {{ student.first_name }}
                                    {{student.second_name}}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            {% endfor %}

                        </form>
                        {% endif %}
                        <form class="form delete-form text-danger float-right" method="POST"
                            action="{% url 'remove_from_bag' item.lesson_id %}"> {% csrf_token %}
                            <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="remove">
                        </form>
                    </td>
                    <td class="py-3">
                        <p class="my-0">${{ item.subTotal }}</p>
                    </td>
                </tr>
                {% endfor %}
                <td class="py-3">
                    <p class="my-0">Total to pay : ${{ total }}</p>
                </td>
                {% else %}
                <p class="lead mb-5"> Your bag is empty. </p>
                <a href="{% url 'home' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
                {% endif %}

            </div>
        </div>
    </div>
</div>



{% endblock %}


{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.student-selection').click(function (e) {
        //alert("I'm here");
        // var student = $(this);

        //var bag_items = $(this).data('bag_item');
        alert($(this).data('previous'));
        //var selected_student = $('#select_student_position_1').val()
        //alert($(this).val());


        $.ajax({
            type: 'POST',
            url: 'update_student_pulldown/',
            data: {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                lesson_id: $(this).data('lesson_id'),
                selected_student_id: $(this).val(),
                remove: $(this).data('remove'),
                previous: $(this).data('previous'),
            }
        })
    })
</script>
{% endblock %}