<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-grey mr-5" href="#" id="home-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-grey mr-5" href="#" id="ski-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ski
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="skiLessons-link">
                <a href="{% url 'all_lessons' %}?type=Ski,Child,group" class="dropdown-item">Kid Group Lessons</a>
                <a href="{% url 'all_lessons' %}?type=Ski,Child,private" class="dropdown-item">Kid Private Lessons</a>
                <a href="{% url 'all_lessons' %}?type=Ski,Adult,group" class="dropdown-item">Adult Group Lessons</a>
                <a href="{% url 'all_lessons' %}?type=Ski,Adult,private" class="dropdown-item">Adult Private Lesson</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-grey mr-5" href="#" id="snowboard-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Snowboard
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="snowboardLessons-link">
                <a href="{% url 'all_lessons' %}?type=Snowboard,Child,group" class="dropdown-item">Kid Group Lessons</a>
                <a href="{% url 'all_lessons' %}?type=Snowboard,Child,private" class="dropdown-item">Kid Private Lessons</a>
                <a href="{% url 'all_lessons' %}?type=Snowboard,Adult,group" class="dropdown-item">Adult Group Lessons</a>
                <a href="{% url 'all_lessons' %}?type=Snowboard,Adult,private" class="dropdown-item">Adult Private Lesson</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-grey" href="#" id="contactUs-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact Us
            </a>
            
        </li>
    </ul>
</div>